body {
    background-color: rgb(201, 76, 76);
}

h1 {
    background-color: cadetblue;
    font-style: oblique;
    font-family: cursive;
    border: 50px, 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h3 {
    font-style: italic;
}

body {
    color: aliceblue;
    font-family: sans-serif;
}

header {
    background-color: cadetblue;
}

#link {
    background-color: darkgoldenrod;
    margin-left: 50px;
    margin-right: 310px;
}