body {
    font-family: verdana, calibri, sans-serif;
    font-size: 18px;
}

h2 {
    color:rgb(34,24,232);
}

#author {
    color: #0f8c0e;
}

.quote {
    font-family: georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 1.5em;
    
}

figcaption {
    font-size: 0.75em;
}